// - Console commands 
// sass --watch scss/styles.scss:assets/css/styles.css

//Variables
@use "lib/_variables" as variables;
@use "lib/_mixings" as mixings;

@use "lib/utilities/_typography";
@use "lib/utilities/_layout";
@use "lib/utilities/_positioning";
@use "lib/utilities/_spacing";
@use "lib/utilities/_columns";
@use "lib/utilities/_containers";
@use "lib/utilities/_flex";

@use "lib/elements/_buttons";
@use "lib/elements/_dropdown";
@use "lib/elements/_forms";
@use "lib/elements/_nav";
@use "lib/elements/_table";

//Header-top
@use "sections/_header-top";
@use "sections/_header";
@use "sections/_logo";
@use "sections/_footer";

//Pages
@use "pages/_product-page";

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: variables.$color-main-background;
  font-size: variables.$size-md;
  color: variables.$color-body;
  padding: 0;
  margin: 0;
}

// section banner

.section-banner {
  background-color: #043a43;
  background-image: url(../img/banners/main-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 40px;

  .banner-content {
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto 0 0;
    padding: 50px;
    @include mixings.radius(10px); // Default: 4px
  }

  .banner-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: variables.$color-white;
  }

  .banner-subtitle {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: variables.$color-white;
  }
}