// _foeeoter.scss
@use "../lib/variables/_global" as global;
@use "../lib/variables/_layout" as layout;
@use 'sass:color';

.footer {
    background-color: global.$color-dark;
    padding: 60px;
    height: auto;

    * {
        color: global.$color-white;
    }

    /*-- footer --*/
    .footer-content {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        gap: 50px
    }

    /*-- footer copyright--*/
    .footer-bottom {}

    /*- footer logo --*/
    .logo {
        height: 37px;
    }


    a {
        text-decoration: none;

        &:hover {}
    }

    .nav-title {
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        display: block;
        margin-bottom: 10px;
        border-bottom: 1px solid global.$color-grey-700;
    }

    .nav {
        flex: 1 1 300px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 0.5rem;
            }
        }
    }

    .social-links {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        ul {
            display: flex
        }

        a {
            margin-right: 1rem;
            font-size: 1.5rem;
        }
    }

    .footer-bottom {
        text-align: center;
        margin-top: 2rem;
        border-top: 1px solid global.$color-grey-700;
        padding-top: 1rem;
        font-size: 0.75rem;
    }
}

/* Media Quries */

@media (max-width: layout.$container-md) {
    .footer .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .nav-title {
            font-size: 20px;
            font-weight: bold;
            padding: 10px;
            display: block;
            margin-bottom: 10px;
            border-bottom: 1px solid global.$color-grey-700;
        }

        .nav {
            flex: 1 1 100px;
            text-align: center
        }

        .footer .social-links ul {
            display: flex;
        }
    }
}