<!-- Footer -->
<footer class="footer">
  <div class="container">
    <!-- logo -->
    <a href="test.html" title="Home" class="logo logo-light">
      <div class="logo-wrap">
        <span class="logo-ctrl">
          Ctrl
        </span>
      </div>
      <div class="logo-wrap">
        <span class="logo-build">
          Build
        </span>
      </div>  
    </a>

    <nav class="nav">
      <span class="nav-title">Quick Links</span>
      <ul>
        <li><a href="/wiki-login">Wiki Login</a></li>
        <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
        <li><a href="/privacy">Privacy policy</a></li>
        <li><a href="/site-map">Site Map</a></li>
      </ul>
    </nav>

    <nav class="nav social-links">
      <span class="nav-title">Follow me on social</span>
      <ul> 
        <!-- social links-->
        <li>
          <a href="https://www.facebook.com/ctrlbuild" target="_new" rel="noopener noreferrer" aria-label="Facebook">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com/ctrlbuild" target="_new" rel="noopener noreferrer" aria-label="Twitter">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/ctrlbuild" target="_new" rel="noopener noreferrer" aria-label="LinkedIn">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </nav>

  </div>
  <div class="footer-bottom">
      <p>&copy; <?php echo date( 'Y' ); ?> <?php bloginfo( 'name' ); ?></p>
  </div>
</footer>