body {
  font-family: "Nunito", sans-serif;
  color: #043a43;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #043a43;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}
h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
  color: #043a43;
}

@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}
h3, .h3 {
  color: #043a43;
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}
h4, .h4 {
  color: #043a43;
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}
h5, .h5 {
  color: #043a43;
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  font-family: "Nunito", sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #212529;
}

a {
  color: #DBF227;
  text-decoration: underline;
  color: scale(#DBF227, #043a43);
}
a:hover {
  color: scale(#DBF227, 10%);
}

hr {
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid #ddd;
}

blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

p, address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

cite {
  font-style: italic;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

li {
  margin-bottom: 0.25rem;
  margin-left: 5px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  vertical-align: top;
  border-color: #ced4da;
}
table tbody, table td, table tfoot, table th, table thead, table tr {
  border-color: inherit;
  border-style: solid;
}
table > thead {
  vertical-align: bottom;
}
table > :not(caption) > * {
  border-width: 1px 0;
}
table > :not(caption) > * > * {
  border-width: 0 1px;
  padding: 0.5rem 0.5rem;
  background-color: #fff;
}
table tbody {
  vertical-align: inherit;
}
table tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
}
table th {
  text-align: -webkit-match-parent;
}
table td {
  display: table-cell;
  vertical-align: inherit;
  unicode-bidi: isolate;
}
table caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #495057;
  text-align: left;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.container-xs {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

/* container small */
.container-sm, .container {
  max-width: 100%;
}

/* container small */
@media (min-width: 540px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
/* container medium */
@media (min-width: 720px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
/* container large */
@media (min-width: 960px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
/* container extra large */
@media (min-width: 1140px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1320px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
/* Float */
.f-left {
  float: left;
}

.f-right {
  float: right;
}

.f-none {
  float: none;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

/* Clearfix */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Z-Index */
.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

.z-6 {
  z-index: 6;
}

.z-7 {
  z-index: 7;
}

.z-8 {
  z-index: 8;
}

.z-9 {
  z-index: 9;
}

.z-10 {
  z-index: 10;
}

/* Top, Right, Bottom, Left */
.t-0 {
  top: 0px;
}

.t-10 {
  top: 10px;
}

.t-20 {
  top: 20px;
}

.t-30 {
  top: 30px;
}

.t-40 {
  top: 40px;
}

.t-50 {
  top: 50px;
}

.t-60 {
  top: 60px;
}

.t-70 {
  top: 70px;
}

.t-80 {
  top: 80px;
}

.t-90 {
  top: 90px;
}

.t-100 {
  top: 100px;
}

/* Positioning */
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.p-sticky {
  position: sticky;
}

.p-static {
  position: static;
}

.p-inherit {
  position: inherit;
}

.p-initial {
  position: initial;
}

.p-unset {
  position: unset;
}

.pt-5 {
  padding: "5px";
}

.pb-5 {
  padding-bottom: "5px";
}

.pl-5 {
  padding-left: "5px";
}

.pr-5 {
  padding-right: "5px";
}

.px-5 {
  padding-left: "5px";
  padding-right: "5px";
}

.py-5 {
  padding-top: "5px";
  padding-bottom: "5px";
}

.p-5 {
  padding: "5px";
}

.pt-10 {
  padding: "10px";
}

.pb-10 {
  padding-bottom: "10px";
}

.pl-10 {
  padding-left: "10px";
}

.pr-10 {
  padding-right: "10px";
}

.px-10 {
  padding-left: "10px";
  padding-right: "10px";
}

.py-10 {
  padding-top: "10px";
  padding-bottom: "10px";
}

.p-10 {
  padding: "10px";
}

.pt-15 {
  padding: "15px";
}

.pb-15 {
  padding-bottom: "15px";
}

.pl-15 {
  padding-left: "15px";
}

.pr-15 {
  padding-right: "15px";
}

.px-15 {
  padding-left: "15px";
  padding-right: "15px";
}

.py-15 {
  padding-top: "15px";
  padding-bottom: "15px";
}

.p-15 {
  padding: "15px";
}

.pt-20 {
  padding: "20px";
}

.pb-20 {
  padding-bottom: "20px";
}

.pl-20 {
  padding-left: "20px";
}

.pr-20 {
  padding-right: "20px";
}

.px-20 {
  padding-left: "20px";
  padding-right: "20px";
}

.py-20 {
  padding-top: "20px";
  padding-bottom: "20px";
}

.p-20 {
  padding: "20px";
}

.pt-25 {
  padding: "25px";
}

.pb-25 {
  padding-bottom: "25px";
}

.pl-25 {
  padding-left: "25px";
}

.pr-25 {
  padding-right: "25px";
}

.px-25 {
  padding-left: "25px";
  padding-right: "25px";
}

.py-25 {
  padding-top: "25px";
  padding-bottom: "25px";
}

.p-25 {
  padding: "25px";
}

.pt-30 {
  padding: "30px";
}

.pb-30 {
  padding-bottom: "30px";
}

.pl-30 {
  padding-left: "30px";
}

.pr-30 {
  padding-right: "30px";
}

.px-30 {
  padding-left: "30px";
  padding-right: "30px";
}

.py-30 {
  padding-top: "30px";
  padding-bottom: "30px";
}

.p-30 {
  padding: "30px";
}

.pt-35 {
  padding: "35px";
}

.pb-35 {
  padding-bottom: "35px";
}

.pl-35 {
  padding-left: "35px";
}

.pr-35 {
  padding-right: "35px";
}

.px-35 {
  padding-left: "35px";
  padding-right: "35px";
}

.py-35 {
  padding-top: "35px";
  padding-bottom: "35px";
}

.p-35 {
  padding: "35px";
}

.pt-40 {
  padding: "40px";
}

.pb-40 {
  padding-bottom: "40px";
}

.pl-40 {
  padding-left: "40px";
}

.pr-40 {
  padding-right: "40px";
}

.px-40 {
  padding-left: "40px";
  padding-right: "40px";
}

.py-40 {
  padding-top: "40px";
  padding-bottom: "40px";
}

.p-40 {
  padding: "40px";
}

.pt-45 {
  padding: "45px";
}

.pb-45 {
  padding-bottom: "45px";
}

.pl-45 {
  padding-left: "45px";
}

.pr-45 {
  padding-right: "45px";
}

.px-45 {
  padding-left: "45px";
  padding-right: "45px";
}

.py-45 {
  padding-top: "45px";
  padding-bottom: "45px";
}

.p-45 {
  padding: "45px";
}

.pt-50 {
  padding: "50px";
}

.pb-50 {
  padding-bottom: "50px";
}

.pl-50 {
  padding-left: "50px";
}

.pr-50 {
  padding-right: "50px";
}

.px-50 {
  padding-left: "50px";
  padding-right: "50px";
}

.py-50 {
  padding-top: "50px";
  padding-bottom: "50px";
}

.p-50 {
  padding: "50px";
}

.pt-55 {
  padding: "55px";
}

.pb-55 {
  padding-bottom: "55px";
}

.pl-55 {
  padding-left: "55px";
}

.pr-55 {
  padding-right: "55px";
}

.px-55 {
  padding-left: "55px";
  padding-right: "55px";
}

.py-55 {
  padding-top: "55px";
  padding-bottom: "55px";
}

.p-55 {
  padding: "55px";
}

.pt-60 {
  padding: "60px";
}

.pb-60 {
  padding-bottom: "60px";
}

.pl-60 {
  padding-left: "60px";
}

.pr-60 {
  padding-right: "60px";
}

.px-60 {
  padding-left: "60px";
  padding-right: "60px";
}

.py-60 {
  padding-top: "60px";
  padding-bottom: "60px";
}

.p-60 {
  padding: "60px";
}

.pt-65 {
  padding: "65px";
}

.pb-65 {
  padding-bottom: "65px";
}

.pl-65 {
  padding-left: "65px";
}

.pr-65 {
  padding-right: "65px";
}

.px-65 {
  padding-left: "65px";
  padding-right: "65px";
}

.py-65 {
  padding-top: "65px";
  padding-bottom: "65px";
}

.p-65 {
  padding: "65px";
}

.pt-70 {
  padding: "70px";
}

.pb-70 {
  padding-bottom: "70px";
}

.pl-70 {
  padding-left: "70px";
}

.pr-70 {
  padding-right: "70px";
}

.px-70 {
  padding-left: "70px";
  padding-right: "70px";
}

.py-70 {
  padding-top: "70px";
  padding-bottom: "70px";
}

.p-70 {
  padding: "70px";
}

.pt-75 {
  padding: "75px";
}

.pb-75 {
  padding-bottom: "75px";
}

.pl-75 {
  padding-left: "75px";
}

.pr-75 {
  padding-right: "75px";
}

.px-75 {
  padding-left: "75px";
  padding-right: "75px";
}

.py-75 {
  padding-top: "75px";
  padding-bottom: "75px";
}

.p-75 {
  padding: "75px";
}

.pt-80 {
  padding: "80px";
}

.pb-80 {
  padding-bottom: "80px";
}

.pl-80 {
  padding-left: "80px";
}

.pr-80 {
  padding-right: "80px";
}

.px-80 {
  padding-left: "80px";
  padding-right: "80px";
}

.py-80 {
  padding-top: "80px";
  padding-bottom: "80px";
}

.p-80 {
  padding: "80px";
}

.pt-85 {
  padding: "85px";
}

.pb-85 {
  padding-bottom: "85px";
}

.pl-85 {
  padding-left: "85px";
}

.pr-85 {
  padding-right: "85px";
}

.px-85 {
  padding-left: "85px";
  padding-right: "85px";
}

.py-85 {
  padding-top: "85px";
  padding-bottom: "85px";
}

.p-85 {
  padding: "85px";
}

.pt-90 {
  padding: "90px";
}

.pb-90 {
  padding-bottom: "90px";
}

.pl-90 {
  padding-left: "90px";
}

.pr-90 {
  padding-right: "90px";
}

.px-90 {
  padding-left: "90px";
  padding-right: "90px";
}

.py-90 {
  padding-top: "90px";
  padding-bottom: "90px";
}

.p-90 {
  padding: "90px";
}

.pt-95 {
  padding: "95px";
}

.pb-95 {
  padding-bottom: "95px";
}

.pl-95 {
  padding-left: "95px";
}

.pr-95 {
  padding-right: "95px";
}

.px-95 {
  padding-left: "95px";
  padding-right: "95px";
}

.py-95 {
  padding-top: "95px";
  padding-bottom: "95px";
}

.p-95 {
  padding: "95px";
}

.pt-100 {
  padding: "100px";
}

.pb-100 {
  padding-bottom: "100px";
}

.pl-100 {
  padding-left: "100px";
}

.pr-100 {
  padding-right: "100px";
}

.px-100 {
  padding-left: "100px";
  padding-right: "100px";
}

.py-100 {
  padding-top: "100px";
  padding-bottom: "100px";
}

.p-100 {
  padding: "100px";
}

.mt-5 {
  margin-top: "5px";
}

.mb-5 {
  margin-bottom: "5px";
}

.ml-5 {
  margin-left: "5px";
}

.mr-5 {
  margin-right: "5px";
}

.mx-5 {
  margin-left: "5px";
  margin-right: "5px";
}

.my-5 {
  margin-top: "5px";
  margin-bottom: "5px";
}

.m-5 {
  padding: "5px";
}

.mt-10 {
  margin-top: "10px";
}

.mb-10 {
  margin-bottom: "10px";
}

.ml-10 {
  margin-left: "10px";
}

.mr-10 {
  margin-right: "10px";
}

.mx-10 {
  margin-left: "10px";
  margin-right: "10px";
}

.my-10 {
  margin-top: "10px";
  margin-bottom: "10px";
}

.m-10 {
  padding: "10px";
}

.mt-15 {
  margin-top: "15px";
}

.mb-15 {
  margin-bottom: "15px";
}

.ml-15 {
  margin-left: "15px";
}

.mr-15 {
  margin-right: "15px";
}

.mx-15 {
  margin-left: "15px";
  margin-right: "15px";
}

.my-15 {
  margin-top: "15px";
  margin-bottom: "15px";
}

.m-15 {
  padding: "15px";
}

.mt-20 {
  margin-top: "20px";
}

.mb-20 {
  margin-bottom: "20px";
}

.ml-20 {
  margin-left: "20px";
}

.mr-20 {
  margin-right: "20px";
}

.mx-20 {
  margin-left: "20px";
  margin-right: "20px";
}

.my-20 {
  margin-top: "20px";
  margin-bottom: "20px";
}

.m-20 {
  padding: "20px";
}

.mt-25 {
  margin-top: "25px";
}

.mb-25 {
  margin-bottom: "25px";
}

.ml-25 {
  margin-left: "25px";
}

.mr-25 {
  margin-right: "25px";
}

.mx-25 {
  margin-left: "25px";
  margin-right: "25px";
}

.my-25 {
  margin-top: "25px";
  margin-bottom: "25px";
}

.m-25 {
  padding: "25px";
}

.mt-30 {
  margin-top: "30px";
}

.mb-30 {
  margin-bottom: "30px";
}

.ml-30 {
  margin-left: "30px";
}

.mr-30 {
  margin-right: "30px";
}

.mx-30 {
  margin-left: "30px";
  margin-right: "30px";
}

.my-30 {
  margin-top: "30px";
  margin-bottom: "30px";
}

.m-30 {
  padding: "30px";
}

.mt-35 {
  margin-top: "35px";
}

.mb-35 {
  margin-bottom: "35px";
}

.ml-35 {
  margin-left: "35px";
}

.mr-35 {
  margin-right: "35px";
}

.mx-35 {
  margin-left: "35px";
  margin-right: "35px";
}

.my-35 {
  margin-top: "35px";
  margin-bottom: "35px";
}

.m-35 {
  padding: "35px";
}

.mt-40 {
  margin-top: "40px";
}

.mb-40 {
  margin-bottom: "40px";
}

.ml-40 {
  margin-left: "40px";
}

.mr-40 {
  margin-right: "40px";
}

.mx-40 {
  margin-left: "40px";
  margin-right: "40px";
}

.my-40 {
  margin-top: "40px";
  margin-bottom: "40px";
}

.m-40 {
  padding: "40px";
}

.mt-45 {
  margin-top: "45px";
}

.mb-45 {
  margin-bottom: "45px";
}

.ml-45 {
  margin-left: "45px";
}

.mr-45 {
  margin-right: "45px";
}

.mx-45 {
  margin-left: "45px";
  margin-right: "45px";
}

.my-45 {
  margin-top: "45px";
  margin-bottom: "45px";
}

.m-45 {
  padding: "45px";
}

.mt-50 {
  margin-top: "50px";
}

.mb-50 {
  margin-bottom: "50px";
}

.ml-50 {
  margin-left: "50px";
}

.mr-50 {
  margin-right: "50px";
}

.mx-50 {
  margin-left: "50px";
  margin-right: "50px";
}

.my-50 {
  margin-top: "50px";
  margin-bottom: "50px";
}

.m-50 {
  padding: "50px";
}

.mt-55 {
  margin-top: "55px";
}

.mb-55 {
  margin-bottom: "55px";
}

.ml-55 {
  margin-left: "55px";
}

.mr-55 {
  margin-right: "55px";
}

.mx-55 {
  margin-left: "55px";
  margin-right: "55px";
}

.my-55 {
  margin-top: "55px";
  margin-bottom: "55px";
}

.m-55 {
  padding: "55px";
}

.mt-60 {
  margin-top: "60px";
}

.mb-60 {
  margin-bottom: "60px";
}

.ml-60 {
  margin-left: "60px";
}

.mr-60 {
  margin-right: "60px";
}

.mx-60 {
  margin-left: "60px";
  margin-right: "60px";
}

.my-60 {
  margin-top: "60px";
  margin-bottom: "60px";
}

.m-60 {
  padding: "60px";
}

.mt-65 {
  margin-top: "65px";
}

.mb-65 {
  margin-bottom: "65px";
}

.ml-65 {
  margin-left: "65px";
}

.mr-65 {
  margin-right: "65px";
}

.mx-65 {
  margin-left: "65px";
  margin-right: "65px";
}

.my-65 {
  margin-top: "65px";
  margin-bottom: "65px";
}

.m-65 {
  padding: "65px";
}

.mt-70 {
  margin-top: "70px";
}

.mb-70 {
  margin-bottom: "70px";
}

.ml-70 {
  margin-left: "70px";
}

.mr-70 {
  margin-right: "70px";
}

.mx-70 {
  margin-left: "70px";
  margin-right: "70px";
}

.my-70 {
  margin-top: "70px";
  margin-bottom: "70px";
}

.m-70 {
  padding: "70px";
}

.mt-75 {
  margin-top: "75px";
}

.mb-75 {
  margin-bottom: "75px";
}

.ml-75 {
  margin-left: "75px";
}

.mr-75 {
  margin-right: "75px";
}

.mx-75 {
  margin-left: "75px";
  margin-right: "75px";
}

.my-75 {
  margin-top: "75px";
  margin-bottom: "75px";
}

.m-75 {
  padding: "75px";
}

.mt-80 {
  margin-top: "80px";
}

.mb-80 {
  margin-bottom: "80px";
}

.ml-80 {
  margin-left: "80px";
}

.mr-80 {
  margin-right: "80px";
}

.mx-80 {
  margin-left: "80px";
  margin-right: "80px";
}

.my-80 {
  margin-top: "80px";
  margin-bottom: "80px";
}

.m-80 {
  padding: "80px";
}

.mt-85 {
  margin-top: "85px";
}

.mb-85 {
  margin-bottom: "85px";
}

.ml-85 {
  margin-left: "85px";
}

.mr-85 {
  margin-right: "85px";
}

.mx-85 {
  margin-left: "85px";
  margin-right: "85px";
}

.my-85 {
  margin-top: "85px";
  margin-bottom: "85px";
}

.m-85 {
  padding: "85px";
}

.mt-90 {
  margin-top: "90px";
}

.mb-90 {
  margin-bottom: "90px";
}

.ml-90 {
  margin-left: "90px";
}

.mr-90 {
  margin-right: "90px";
}

.mx-90 {
  margin-left: "90px";
  margin-right: "90px";
}

.my-90 {
  margin-top: "90px";
  margin-bottom: "90px";
}

.m-90 {
  padding: "90px";
}

.mt-95 {
  margin-top: "95px";
}

.mb-95 {
  margin-bottom: "95px";
}

.ml-95 {
  margin-left: "95px";
}

.mr-95 {
  margin-right: "95px";
}

.mx-95 {
  margin-left: "95px";
  margin-right: "95px";
}

.my-95 {
  margin-top: "95px";
  margin-bottom: "95px";
}

.m-95 {
  padding: "95px";
}

.mt-100 {
  margin-top: "100px";
}

.mb-100 {
  margin-bottom: "100px";
}

.ml-100 {
  margin-left: "100px";
}

.mr-100 {
  margin-right: "100px";
}

.mx-100 {
  margin-left: "100px";
  margin-right: "100px";
}

.my-100 {
  margin-top: "100px";
  margin-bottom: "100px";
}

.m-100 {
  padding: "100px";
}

nav {
  position: relative;
  z-index: 1000;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.col-1-offset {
  margin-left: 8.3333333333%;
}

.col-2-offset {
  margin-left: 16.6666666667%;
}

.col-3-offset {
  margin-left: 25%;
}

.col-4-offset {
  margin-left: 33.3333333333%;
}

.col-5-offset {
  margin-left: 41.6666666667%;
}

.col-6-offset {
  margin-left: 50%;
}

.col-7-offset {
  margin-left: 58.3333333333%;
}

.col-8-offset {
  margin-left: 66.6666666667%;
}

.col-9-offset {
  margin-left: 75%;
}

.col-10-offset {
  margin-left: 83.3333333333%;
}

.col-11-offset {
  margin-left: 91.6666666667%;
}

.col-12-offset {
  margin-left: 100%;
}

.col-1-pull {
  right: 8.3333333333%;
}

.col-2-pull {
  right: 16.6666666667%;
}

.col-3-pull {
  right: 25%;
}

.col-4-pull {
  right: 33.3333333333%;
}

.col-5-pull {
  right: 41.6666666667%;
}

.col-6-pull {
  right: 50%;
}

.col-7-pull {
  right: 58.3333333333%;
}

.col-8-pull {
  right: 66.6666666667%;
}

.col-9-pull {
  right: 75%;
}

.col-10-pull {
  right: 83.3333333333%;
}

.col-11-pull {
  right: 91.6666666667%;
}

.col-12-pull {
  right: 100%;
}

.col-1-push {
  left: 8.3333333333%;
}

.col-2-push {
  left: 16.6666666667%;
}

.col-3-push {
  left: 25%;
}

.col-4-push {
  left: 33.3333333333%;
}

.col-5-push {
  left: 41.6666666667%;
}

.col-6-push {
  left: 50%;
}

.col-7-push {
  left: 58.3333333333%;
}

.col-8-push {
  left: 66.6666666667%;
}

.col-9-push {
  left: 75%;
}

.col-10-push {
  left: 83.3333333333%;
}

.col-11-push {
  left: 91.6666666667%;
}

.col-12-push {
  left: 100%;
}

.col-1-order {
  order: 1;
}

.col-2-order {
  order: 2;
}

.col-3-order {
  order: 3;
}

.col-4-order {
  order: 4;
}

.col-5-order {
  order: 5;
}

.col-6-order {
  order: 6;
}

.col-7-order {
  order: 7;
}

.col-8-order {
  order: 8;
}

.col-9-order {
  order: 9;
}

.col-10-order {
  order: 10;
}

.col-11-order {
  order: 11;
}

.col-12-order {
  order: 12;
}

@media (min-width: 0) {
  .col-xs-1 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 1);
  }
}
@media (min-width: 0) {
  .col-xs-2 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 2);
  }
}
@media (min-width: 0) {
  .col-xs-3 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 3);
  }
}
@media (min-width: 0) {
  .col-xs-4 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 4);
  }
}
@media (min-width: 0) {
  .col-xs-5 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 5);
  }
}
@media (min-width: 0) {
  .col-xs-6 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 6);
  }
}
@media (min-width: 0) {
  .col-xs-7 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 7);
  }
}
@media (min-width: 0) {
  .col-xs-8 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 8);
  }
}
@media (min-width: 0) {
  .col-xs-9 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 9);
  }
}
@media (min-width: 0) {
  .col-xs-10 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 10);
  }
}
@media (min-width: 0) {
  .col-xs-11 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 11);
  }
}
@media (min-width: 0) {
  .col-xs-12 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 12);
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 1);
  }
}
@media (min-width: 576px) {
  .col-sm-2 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 2);
  }
}
@media (min-width: 576px) {
  .col-sm-3 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 3);
  }
}
@media (min-width: 576px) {
  .col-sm-4 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 4);
  }
}
@media (min-width: 576px) {
  .col-sm-5 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 5);
  }
}
@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 6);
  }
}
@media (min-width: 576px) {
  .col-sm-7 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 7);
  }
}
@media (min-width: 576px) {
  .col-sm-8 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 8);
  }
}
@media (min-width: 576px) {
  .col-sm-9 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 9);
  }
}
@media (min-width: 576px) {
  .col-sm-10 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 10);
  }
}
@media (min-width: 576px) {
  .col-sm-11 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 11);
  }
}
@media (min-width: 576px) {
  .col-sm-12 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 12);
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 1);
  }
}
@media (min-width: 768px) {
  .col-md-2 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 2);
  }
}
@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 3);
  }
}
@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 4);
  }
}
@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 5);
  }
}
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 6);
  }
}
@media (min-width: 768px) {
  .col-md-7 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 7);
  }
}
@media (min-width: 768px) {
  .col-md-8 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 8);
  }
}
@media (min-width: 768px) {
  .col-md-9 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 9);
  }
}
@media (min-width: 768px) {
  .col-md-10 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 10);
  }
}
@media (min-width: 768px) {
  .col-md-11 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 11);
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 12);
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 1);
  }
}
@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 2);
  }
}
@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 3);
  }
}
@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 4);
  }
}
@media (min-width: 992px) {
  .col-lg-5 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 5);
  }
}
@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 6);
  }
}
@media (min-width: 992px) {
  .col-lg-7 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 7);
  }
}
@media (min-width: 992px) {
  .col-lg-8 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 8);
  }
}
@media (min-width: 992px) {
  .col-lg-9 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 9);
  }
}
@media (min-width: 992px) {
  .col-lg-10 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 10);
  }
}
@media (min-width: 992px) {
  .col-lg-11 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 11);
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 12);
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 1);
  }
}
@media (min-width: 1200px) {
  .col-xl-2 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 2);
  }
}
@media (min-width: 1200px) {
  .col-xl-3 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 3);
  }
}
@media (min-width: 1200px) {
  .col-xl-4 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 4);
  }
}
@media (min-width: 1200px) {
  .col-xl-5 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 5);
  }
}
@media (min-width: 1200px) {
  .col-xl-6 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 6);
  }
}
@media (min-width: 1200px) {
  .col-xl-7 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 7);
  }
}
@media (min-width: 1200px) {
  .col-xl-8 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 8);
  }
}
@media (min-width: 1200px) {
  .col-xl-9 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 9);
  }
}
@media (min-width: 1200px) {
  .col-xl-10 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 10);
  }
}
@media (min-width: 1200px) {
  .col-xl-11 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 11);
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 12);
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 1);
  }
}
@media (min-width: 1400px) {
  .col-xxl-2 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 2);
  }
}
@media (min-width: 1400px) {
  .col-xxl-3 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 3);
  }
}
@media (min-width: 1400px) {
  .col-xxl-4 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 4);
  }
}
@media (min-width: 1400px) {
  .col-xxl-5 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 5);
  }
}
@media (min-width: 1400px) {
  .col-xxl-6 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 6);
  }
}
@media (min-width: 1400px) {
  .col-xxl-7 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 7);
  }
}
@media (min-width: 1400px) {
  .col-xxl-8 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 8);
  }
}
@media (min-width: 1400px) {
  .col-xxl-9 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 9);
  }
}
@media (min-width: 1400px) {
  .col-xxl-10 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 10);
  }
}
@media (min-width: 1400px) {
  .col-xxl-11 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 11);
  }
}
@media (min-width: 1400px) {
  .col-xxl-12 {
    flex: 0 0 auto;
    width: calc(8.3333333333% * 12);
  }
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 540px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 720px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 960px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1320px) {
  .container {
    max-width: 1320px;
  }
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  line-height: 1.5;
}
.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-primary {
  background-color: #043a43;
  color: #fff;
}
.btn-primary:hover:not(:disabled) {
  background: hsl(188.5714285714, 88.7323943662%, -6.0784313725%);
}
.btn-primary:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.btn-secondary {
  background-color: #005C53;
  color: #fff;
}
.btn-secondary:hover:not(:disabled) {
  background: hsl(188.5714285714, 88.7323943662%, -6.0784313725%);
}
.btn-secondary:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.btn-success {
  background-color: #9FC131;
  color: #fff;
}
.btn-success:hover:not(:disabled) {
  background: hsl(188.5714285714, 88.7323943662%, -6.0784313725%);
}
.btn-success:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.btn-danger {
  background-color: #f02310;
  color: #000;
}
.btn-danger:hover:not(:disabled) {
  background: hsl(188.5714285714, 88.7323943662%, -6.0784313725%);
}
.btn-danger:focus {
  outline: 2px solid #000;
  outline-offset: 2px;
}

.btn-warning {
  background-color: #DBF227;
  color: #000;
}
.btn-warning:hover:not(:disabled) {
  background: hsl(188.5714285714, 88.7323943662%, -6.0784313725%);
}
.btn-warning:focus {
  outline: 2px solid #000;
  outline-offset: 2px;
}

.btn-light {
  background-color: #f8f9fa;
  color: #000;
}
.btn-light:hover:not(:disabled) {
  background: hsl(188.5714285714, 88.7323943662%, -6.0784313725%);
}
.btn-light:focus {
  outline: 2px solid #000;
  outline-offset: 2px;
}

.btn-dark {
  background-color: #161616;
  color: #fff;
}
.btn-dark:hover:not(:disabled) {
  background: hsl(188.5714285714, 88.7323943662%, -6.0784313725%);
}
.btn-dark:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.btn-outline-primary {
  background-color: transparent;
  border: 2px solid #043a43;
  color: #043a43;
}
.btn-outline-primary:hover:not(:disabled) {
  background-color: #043a43;
  color: #fff;
}
.btn-outline-primary:focus {
  outline: 2px solid hsl(188.5714285714, 88.7323943662%, -6.0784313725%);
  outline-offset: 2px;
}

.btn-outline-secondary {
  background-color: transparent;
  border: 2px solid #005C53;
  color: #005C53;
}
.btn-outline-secondary:hover:not(:disabled) {
  background-color: #005C53;
  color: #fff;
}
.btn-outline-secondary:focus {
  outline: 2px solid hsl(188.5714285714, 88.7323943662%, -6.0784313725%);
  outline-offset: 2px;
}

.btn-outline-success {
  background-color: transparent;
  border: 2px solid #9FC131;
  color: #9FC131;
}
.btn-outline-success:hover:not(:disabled) {
  background-color: #9FC131;
  color: #fff;
}
.btn-outline-success:focus {
  outline: 2px solid hsl(188.5714285714, 88.7323943662%, -6.0784313725%);
  outline-offset: 2px;
}

.btn-outline-danger {
  background-color: transparent;
  border: 2px solid #f02310;
  color: #f02310;
}
.btn-outline-danger:hover:not(:disabled) {
  background-color: #f02310;
  color: #000;
}
.btn-outline-danger:focus {
  outline: 2px solid hsl(188.5714285714, 88.7323943662%, -6.0784313725%);
  outline-offset: 2px;
}

.btn-outline-warning {
  background-color: transparent;
  border: 2px solid #DBF227;
  color: #DBF227;
}
.btn-outline-warning:hover:not(:disabled) {
  background-color: #DBF227;
  color: #000;
}
.btn-outline-warning:focus {
  outline: 2px solid hsl(188.5714285714, 88.7323943662%, -6.0784313725%);
  outline-offset: 2px;
}

.btn-outline-light {
  background-color: transparent;
  border: 2px solid #f8f9fa;
  color: #f8f9fa;
}
.btn-outline-light:hover:not(:disabled) {
  background-color: #f8f9fa;
  color: #000;
}
.btn-outline-light:focus {
  outline: 2px solid hsl(188.5714285714, 88.7323943662%, -6.0784313725%);
  outline-offset: 2px;
}

.btn-outline-dark {
  background-color: transparent;
  border: 2px solid #161616;
  color: #161616;
}
.btn-outline-dark:hover:not(:disabled) {
  background-color: #161616;
  color: #fff;
}
.btn-outline-dark:focus {
  outline: 2px solid hsl(188.5714285714, 88.7323943662%, -6.0784313725%);
  outline-offset: 2px;
}

.btn-sm {
  font-size: 0.875rem;
  padding: 0.25em 0.5em;
}

.btn-lg {
  font-size: 1.25rem;
  padding: 0.75em 1.5em;
}

.header-top {
  background-color: #043a43;
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-top * {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

header.header-main {
  width: 100%;
  padding: 0 60px;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  /* Main navigation */
  /*-- Mobile menu icon --*/
  /* Search form */
}
header.header-main.active {
  height: 100%;
}
header.header-main nav {
  background-color: transparent;
}
header.header-main ul {
  height: 100%;
  list-style: none;
  display: flex;
  align-self: center;
  background-color: transparent;
  overflow: visible;
  margin: 0;
  padding: 0;
}
header.header-main ul li {
  float: left;
  margin: 0;
  position: relative;
}
header.header-main ul li a {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  height: 100%;
  text-decoration: none;
  line-height: 80px;
  padding: 0 15px;
  white-space: nowrap;
  transition: all ease-in-out 100ms;
}
header.header-main ul li a:hover {
  background-color: #043a43;
  color: #fff;
}
header.header-main ul li ul {
  background: white;
  display: none;
  height: auto;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  transition: all ease-in-out 100ms;
  visibility: hidden;
  z-index: 900;
}
header.header-main ul li ul li {
  float: left;
  margin: 0;
  position: relative;
  width: 100%;
}
header.header-main ul li ul li a {
  white-space: nowrap;
  display: block;
  line-height: 35px;
  width: 100%;
  text-align: left;
}
header.header-main ul li.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header.header-main ul li.social-links a {
  padding: 0 8px;
  font-size: 20px;
}
header.header-main .mobile-menu-icon {
  align-self: center;
  color: #043a43;
  cursor: pointer;
  display: none;
  font-size: 1.5rem;
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
}
header.header-main .mobile-menu-icon::before {
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  content: "\f0c9";
}
header.header-main .mobile-menu-icon.active::before {
  content: "\f00d";
}
header.header-main .search-form {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  height: 80px;
  margin-right: 0;
}
header.header-main .search-form label {
  display: none;
}
header.header-main .search-form input {
  flex: 1;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-left: 20px;
}
header.header-main .search-form input:focus-visible {
  outline: 2px solid #043a43;
  outline-offset: 2px;
}
header.header-main .search-form button {
  background: #043a43;
  color: #fff;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}
header.header-main .search-form button i {
  pointer-events: none;
}
header.header-main .search-form button:hover {
  background: hsl(188.5714285714, 88.7323943662%, -6.0784313725%);
}

@media (min-width: 720px) and (max-width: 1140px) {
  header.header-main ul li.social-links {
    display: none !important;
  }
}
/* Desktop */
@media (min-width: 768px) {
  header.header-main ul {
    margin-left: 10px;
    margin-right: 10px;
  }
  header.header-main ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    display: block;
  }
}
/* Mobile Size */
@media (max-width: 768px) {
  header.header-main {
    padding: 0;
    position: fixed;
  }
  header.header-main .logo {
    margin: 0 10px 0 20px;
  }
  header.header-main .logo .logo-wrap {
    margin-right: 7px;
  }
  header.header-main .navigation-links {
    display: none;
    margin: 0;
    width: 100%;
    position: absolute;
    padding: 0;
    flex-direction: column;
  }
  header.header-main .navigation-links.active {
    display: flex;
    background: #fff;
    border-top: 1px solid #ddd;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    left: 0;
    overflow: auto;
    padding-bottom: 100px;
    position: absolute;
    top: 80px;
    width: 100%;
    z-index: 999;
  }
  header.header-main .navigation-links li {
    float: none;
    margin: 0;
    position: relative;
    height: auto;
  }
  header.header-main .navigation-links li a {
    line-height: 50px;
    height: 50px;
  }
  header.header-main .navigation-links li:has(> ul) ul.active {
    display: block;
    width: 100%;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    position: relative;
    top: 0;
  }
  header.header-main .navigation-links li:has(> ul) ul li a {
    line-height: 50px;
    height: 50px;
    color: #fff;
    background-color: #043a43;
  }
  header.header-main .navigation-links li:has(> ul) .sub-toggle {
    color: #043a43;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 49px;
    margin: 0;
    z-index: 1;
  }
  header.header-main .navigation-links li:has(> ul) .sub-toggle::before {
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    content: "+";
  }
  header.header-main .navigation-links li:has(> ul) .sub-toggle.active::before {
    content: "\f068";
  }
  header.header-main .mobile-menu-icon {
    display: block;
  }
  header.header-main .search-form {
    margin-right: 60px;
  }
}
/* XS Mobile Size */
@media (max-width: 350px) {
  .search-form {
    display: none;
  }
}
/* logo dark*/
.logo {
  text-decoration: none;
  width: fit-content;
  height: 80px;
  display: flex;
}
.logo .logo-wrap {
  vertical-align: unset;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo .logo-wrap:last-child {
  margin-right: 0;
}
.logo:hover .logo-ctrl {
  background: hsl(188.5714285714, 88.7323943662%, -6.0784313725%);
}
.logo:hover .logo-build {
  color: hsl(188.5714285714, 88.7323943662%, -6.0784313725%);
}
.logo .logo-ctrl {
  width: 75px;
  height: 36px;
  background-color: #043a43;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  font-size: 17px;
  padding: 3px 5px;
  font-weight: bold;
}
.logo .logo-build {
  color: #043a43;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
}

/* Logo Light*/
.logo.logo-light {
  height: 37px;
}
.logo.logo-light:hover .logo-ctrl {
  background: #cccccc;
}
.logo.logo-light:hover .logo-build {
  color: #cccccc;
}
.logo.logo-light .logo-ctrl {
  background-color: #fff;
  color: #161616;
}
.logo.logo-light .logo-build {
  color: #fff;
}

/* Mobile Size */
@media (max-width: 768px) {
  .logo-ctrl {
    width: 55px;
    height: 34.5px;
    font-size: 15px;
  }
  .logo-build {
    font-size: 23px;
  }
}
.footer {
  background-color: #161616;
  padding: 60px;
  height: auto;
  /*-- footer --*/
  /*-- footer copyright--*/
  /*- footer logo --*/
}
.footer * {
  color: #fff;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  gap: 50px;
}
.footer .logo {
  height: 37px;
}
.footer a {
  text-decoration: none;
}
.footer .nav-title {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
  border-bottom: 1px solid #495057;
}
.footer .nav {
  flex: 1 1 300px;
}
.footer .nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .nav ul li {
  margin-bottom: 0.5rem;
}
.footer .social-links {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer .social-links ul {
  display: flex;
}
.footer .social-links a {
  margin-right: 1rem;
  font-size: 1.5rem;
}
.footer .footer-bottom {
  text-align: center;
  margin-top: 2rem;
  border-top: 1px solid #495057;
  padding-top: 1rem;
  font-size: 0.75rem;
}

/* Media Quries */
@media (max-width: 720px) {
  .footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer .footer-content .nav-title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid #495057;
  }
  .footer .footer-content .nav {
    flex: 1 1 100px;
    text-align: center;
  }
  .footer .footer-content .footer .social-links ul {
    display: flex;
  }
}
*, ::after, ::before {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
  font-size: clamp(1rem, 0.23vi + 0.94rem, 1.13rem);
}

.section-banner {
  background-color: #043a43;
  background-image: url(../img/banners/main-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 40px;
}
.section-banner .banner-content {
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto 0 0;
  padding: 50px;
  border-radius: 10px;
}
.section-banner .banner-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #fff;
}
.section-banner .banner-subtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
